start on starting app
stop on stopping app
respawn limit 10 5
console log
setuid deploy
setgid deploy
chdir {{APP_DIR}}
script
        . {{APP_DIR}}/.env
	logger -t "$APP_NAME" at=run cmd={{CMD}}
        exec {{CMD}} | logger -t "$APP_NAME"
end script
